<img src="/jrandnancy.jpg" alt="Frank Jr. and Nancy">
<p>Sinatra had three children with his first wife, Nancy Barbato: Nancy Sinatra (born June 8, 1940), Frank Sinatra, Jr. (born January 10, 1944 and died March 16, 2016), and Christina "Tina" Sinatra (born June 20, 1948). Although Sinatra did not remain faithful to his wife, he was by many accounts a devoted father.</p>